PORT=5000
MONGODB_URI=mongodb://localhost:27017/mediform
JWT_SECRET=mediform_super_secret_jwt_key_2026
ENCRYPTION_KEY=32_byte_hex_key_for_aes_256_encryption_key!
MAX_JSON_BODY_SIZE=250kb
QR_TTL_MINUTES=30
PIN_MAX_ATTEMPTS=5
